body {
  min-width: 320px;
  font-family: Utuntu, sans-serif;
  font-size: 17px;
  color: #828282;
}

img {
  max-width: 100%;
  height: auto;
}

select,
option {
  cursor: pointer;
}

.green {
  color: #00AA88;
}

.h2 {
  color: #828689;
  text-transform: uppercase;
  font-size: 30px;
  font-family: Montserrat, sans-serif;
  margin-top: 0;
}

.link {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  color: #2cc7c1;
  font-weight: bold;
  transition: color .5s;
}

.link:hover {
  text-decoration: none;
  color: #008768;
}

/*header*/
header {
  height: 100vh;
  width: 100vw;
  background: url('./../img/2.jpg') no-repeat 50% 50%;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}

.header-container {
  text-align: center;
  max-width: 630px;
  height: 450px;
  margin: auto;
}

.header-container h1 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 37px;
}

.header-container p {
  font-size: 20px;
}

.header-container a {
  text-transform: uppercase;
}

/*speakers*/
.speakers {
  padding: 110px 0;
}

.large {
  font-size: 22px;
}

.speakers-tab {
  border: 3px solid #ececec;
  border-radius: 3px;
  padding-bottom: 40px;
}

.speakers-tab .tab-content {
  padding: 0 20px;
}

.speakers-tab .nav-tabs.nav-justified > .active > a,
.speakers-tab .nav-tabs.nav-justified > li > a,
.speakers-tab .nav-tabs.nav-justified > .active > a:focus,
.speakers-tab .nav-tabs.nav-justified > .active > a:hover {
  border: 0;
  color: #a1a7af;
}

.speakers-tab .nav-tabs.nav-justified > li:not(.active) > a {
  background-color: #eee;
}

.speakers-tab p {
  margin-top: 30px;
}

.speakers-tab .fa {
  color: #4ed2d7;
  font-size: 13px;
}

.headers {
  padding: 110px 0 60px;
}

.speakers .item {
  position: relative;
}

.speakers .item img,
.speakers .item .fa {
  width: 140px;
  height: 140px;
  transition: transform .5s;
}

.speakers .item img {
  transition-delay: .5s;
}

.speakers .item .fa {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 140px;
  background-color: #00AA88;
  color: #fff;
  font-size: 40px;
  transform: rotateY(-90deg);
}

.speakers .item h3 {
  transition: color 1s;
  text-transform: uppercase;
}

.speakers .item div {
  cursor: pointer;
}

.speakers .item div:hover img {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.speakers .item div:hover .fa {
  transform: rotateY(0deg);
  transition-delay: .5s;
}

.speakers .item div:hover h3 {
  color: #00AA88;
}

.speakers .info {
  margin: auto;
  max-width: 500px;
  padding-top: 60px;
}

.speakers .info .large {
  margin-bottom: 30px;
}

.speakers-tab .btn-success {
  background-color: #00AA88;
  margin-right: 20px;
}

.speakers-tab a {
  font-size: 19px;
}

.speakers-tab .panel,
.speakers-tab .panel-collapse,
.speakers-tab .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
  border: 0;
}

.speakers-tab .state {
  margin-top: 5px;
  display: inline-block;
  font-size: 20px;
}

.speakers-tab p {
  margin: 0;
}

.speakers-tab .panel-heading {
  margin-top: 10px;
}

.schedule,
.events,
.gallery {
  padding-top: 110px;
}

.schedule {
  border-top: 8px solid #f0f0f1;
}

.gallery {
  padding-bottom: 110px;
}

.gallery .carousel-indicators {
  left: 15px;
  bottom: 15px;
  width: auto;
  margin: 0;
}

.gallery .carousel-indicators li {
  border: 1px solid #00AA88;
  width: 14px;
  height: 14px;
}

.gallery .carousel-indicators li.active,
.gallery .carousel-indicators li:hover {
  background-color: #00AA88;
}

.section-form {
  padding: 144px;
  background-color: #f3f3f3;
}

.section-form .text {
  margin-bottom: 50px;
}

.section-form input {
  padding-right: 25px;
}

.section-form .btn {
  width: 100%;
  text-transform: uppercase;
}

.section-form .has-success .form-control-feedback {
  color: #00AA88;
}

.section-form .has-success .form-control {
  border: 1px solid #00AA88;
}

.section-form .form {
  padding: 50px;
  background-color: #fff;
  border-radius: 3px;
}

.section-form .form-group {
  margin: 0;
}

.partners {
  padding: 60px 0;
}

.map > img {
  width: 100%;
}

.footer {
  padding: 100px 0 80px;
  background-color: #525b64;
}

.footer h3,
.footer h4 {
  font-size: 25px;
  color: #fff;
  margin: 0 0 30px;
}

.footer h3 {
  font-size: 25px;
}

.footer h4 {
  font-size: 20px;
}

.footer .contact {
  font-size: 18px;
}

.footer .contact i {
  width: 30px;
}

.footer p:not(.contact) {
  color: #cdd0d2;
}

footer .copy {
  background-color: #3f464c;
  padding: 15px 0;
}

@media screen and (min-width: 1200px) {

}

@media screen and (max-width: 1200px) {
  .speakers-tab img {
    max-width: 150px;
  }
}

@media screen and (max-width: 992px) {
  .speakers-tab {
    margin-top: 30px;
  }

  .events,
  .gallery {
    padding-top: 30px;
  }

  .gallery .events {
    padding-top: 0;
  }

  .gallery {
    padding-bottom: 30px;
  }

  .events .embed-responsive {
    margin-bottom: 30px;
  }

  .section-form {
    padding: 40px 0;
  }

  .form .row > div:not(:last-child) {
    margin-bottom: 10px;
  }

  .social {
    margin-bottom: 30px;
  }
  .partners .clearfix {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
.speakers-tab .panel-title {
  text-align: center;
}
  .speakers-tab .panel-title a{
    display: block;
    margin: 10px 0;
  }
  .speakers-tab .panel-title span,
  .speakers-tab .panel-title i {
    float: none !important;
    margin: 0;
  }
  .footer .contact  {
    font-size: 14px;
  }
  .footer .contact i {
    width: auto;
  }
}

@media screen and (max-width: 380px) {
  .speakers,
  .events,
  .schedule,
  .headers,
  .speakers .info{
    padding: 20px 0;
  }

}